<!DOCTYPE html>
<html>
<head>
  <title>Mit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li><%= link_to "Slots", slots_path %></li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
